.formmain{
    margin: 233px 96px 223px 96px;
    display: flex;
}
.formdiv{
    display: inline;
}
.form{
    display: inline;
}
.formicon{
    margin-left: 15px;
}
.span1{
    font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 80px;

}
.span2{
    color: #45DAE1;
}
.ellip{
    margin-top: -15px;
    margin-left: 165px;
    width: 190px;
height: 24px;
}
input{
    margin-left: 14px;
    width: 258px;
height: 59px;

background: rgba(57, 62, 70, 0.5);
border-radius: 16px;
}
textarea{
    width: 600px;
height: 280px;
margin-left: 14px;
margin-top: 12px;
background: rgba(57, 62, 70, 0.5);
border-radius: 16px;
}
.ymeal{
    display: flex;
}
.yname{
    display: inline;
}
.yemail{
    display: inline;
}
label{
    font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */
margin-top: 24px;
margin-left: 14px;
/* Color 3 */
color: #EEEEEE;
}
input{
    margin-top: 10px;
}
.formbutton{
    border: none;
    display: flex;
    width: 232px;
height: 47px;
border-radius: 24px;
/* Color 3 */
margin-top: 24px;
margin-left: 14px;
background: #45DAE1;
}
.formbutton ion-icon{
 margin-top: 11px;

    display: inline;
}
.formbutton span{
    margin-top: 11px;
    margin-left: 35px;
}