.mainwork{
    margin-right: 110px;

}
.workicon{
    position: absolute;
    z-index: 1;
    margin-top: 220px;
margin-left: 300px;

}
.back{
    display: inline;
}
.banner{
    position: relative;
    z-index: 0;
}

.kolge{
    margin-top: 70px;
    margin-left: 300px;
}
.aboutme{
    margin-left: 96px;
    display: inline;
    width: 322px;
height: 96px;
margin-top: 150px;
}
.me{
    font-weight: 700;
font-size: 64px;
line-height: 96px;
    display: inline;
  color: #45DAE1;
}
.about{
    font-weight: 700;
font-size: 64px;
line-height: 96px;
    display: inline;
    
}
.work{
    display: flex;
}
.text{
    display: flex;
}
.p{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: #EEEEEE;
}